/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color:#FEF5E7;   /*background color */
	/* background-repeat:repeat;
	background-image: url("../img/background.png"); background image */
	color: #444;          /* text color for the entire page */
	font-size: 18px;
	font-family: Lato, Helvetica, sans-serif;
}

h1, h2 { 
	text-align:left;     /* left aligns h1 and h2 content */
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width:900px;
	margin:0 auto;    /* centers wrapper */
}

.borderClass {
	border-style: solid;
	border-radius: 20px;
	margin-bottom: 12px;
	border-color:#F7B857
}
/*formatting Tips */
.tipClass {
	background-color: #D7FFF6;
	padding:15px;
	border-radius:20px;
}

.material-icons {
	color:#86b85c; 
	font-size:3em;
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:10px;
	margin-bottom: 12px;
	text-align:left;
	font-size:20px;
	font-weight: bold;
	background-color: #F7B857;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	
 }

.stepContent{ 
	background-color: white;
	padding:7px;
	display: flex;
	justify-content: left;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

}

.stepDescription {
	width:55%;
	padding:50px;
	justify-content: left;


}

.stepImage {
	width:40%;	
	padding:50px;
	text-align: right;
}