body {
  text-align: center;
  background-color: #fef5e7; /*background color */
  /* background-repeat:repeat;
		background-image: url("../img/background.png"); background image */
  color: #444; /* text color for the entire page */
  font-size: 16px;
  font-family: Verdana, Geneva, sans-serif
}

h1 {
  text-align: left;
}

h2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.subpage_top h1,
h2
{
  text-align: left; /* left aligns h1 and h2 content */
}

h6 {
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-weight: normal;
  margin-top: 4px;
}

.subpage_p {
  text-align: left; /* left aligns h1 and h2 content */
  margin-left: 150px;
  margin-right: 195px;
}

a {
  /* padding: 15px; */
  /* margin: 3px; */
  font-size: 125%;
  background-color: your_color_of_choice;
  color: your_color_of_choice;
}

a:hover {
  font-size: 120%;
  background-color: #fef5e7;
  color: #101213;
}

.menublock {
  margin-top: 34px;
  background-color: #f7b857;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.paddedcontent {
  margin-top: 20px;
  padding-left: 12px;
  padding-right: 12px;
}

.button {
  border: none;
  color: #444;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  /*margin: 4px 2px;*/
  cursor: pointer;
  background-color: #F7B857; 
  border-radius: 50px;
  display: block;
  /* width: px; */
  margin-top: 24px;
}

.choices {
  cursor: pointer;
  }
  

  .tooltip {
      position: relative;
      display: inline-block;
    }
  
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #2a2825;
  color: #ccc6bd;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  margin-top: 10px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}